news_digest.json
{
  "name": "News Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -16
      ],
      "id": "46cc593d-3483-4948-9268-65930c99df96",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $('Split Out').item.json.rss_urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        304,
        0
      ],
      "id": "5873424f-49d3-42e0-83c0-3dd7953e048e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"rss_urls\": [\n    \"https://www.efsyn.gr/rss.xml\",\n    \"https://www.protothema.gr/rss\",\n    \"https://www.koutipandoras.gr/feed/\",\n    \"https://www.newsbomb.gr/oles-oi-eidhseis?format=feed&type=rss\",\n    \"https://tvxs.gr/feed/\",\n    \"https://www.tanea.gr/feed/\",\n    \"https://www.ethnos.gr/rss\",\n    \"https://www.topontiki.gr/feed/\",\n    \"https://www.zougla.gr/feed/\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -16
      ],
      "id": "8c654353-b71b-44e9-a6d0-7acb5a709e17",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss_urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        -16
      ],
      "id": "c383de20-2472-4950-9761-01d271bb679c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        -16
      ],
      "id": "e53fb5fd-6fcf-43d3-b431-0392d5477773",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        256
      ],
      "id": "166c45f4-1c92-4260-b424-d223c92c8242",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OU3F3ISCxNi5xI9W",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Είσαι μια μηχανή που παράγει ΜΟΝΟ κώδικα HTML.\nΣου δίνω τα εξής στοιχεία:\n\n1. Link: {{ $json.link }}\n2. Τίτλος: {{ $json.title }}\n3. Κείμενο: {{ $json.contentSnippet || $json.content }}\n\nΟΔΗΓΙΕΣ ΦΙΛΤΡΑΡΙΣΜΑΤΟΣ:\n1. **ΚΡΙΤΗΡΙΟ:** Κράτησε ΜΟΝΟ ειδήσεις για: Πολιτική, Οικονομία, Κοινωνία, Εργασιακά, Διεθνή.\n2. **ΑΠΟΡΡΙΨΗ:** Αν το θέμα είναι Lifestyle, Gossip, Αθλητικά, Αστυνομικό, Survivor, Ζώδια ή αν το κείμενο είναι πολύ μικρό/κενό.\n3. **SKIP:** Αν απορρίψεις το άρθρο, γράψε ΜΟΝΟ τη λέξη: SKIP\n\nΟΔΗΓΙΕΣ ΜΟΡΦΟΠΟΙΗΣΗΣ (Μόνο για όσα κρατήσεις):\n1. **Source Name Cleanup (Διόρθωση Ονομάτων):**\n   - Αν το Link έχει \"zougla\", το όνομα είναι: **ZOUGLA** (όχι Zoula).\n   - Αν το Link έχει \"efsyn\", το όνομα είναι: **EFSYN**.\n   - Αν το Link έχει \"protothema\", το όνομα είναι: **PROTOTHEMA**.\n   - Αν το Link έχει \"topontiki\", το όνομα είναι: **TOPONTIKI**.\n   - Γράψε το όνομα ΜΟΝΟ με κεφαλαία.\n\n2. **HTML Structure (ΑΥΣΤΗΡΑ):**\n   - Μην βάλεις κανένα τίτλο ή κείμενο πριν ξεκινήσει το HTML.\n   - Η πρώτη γραμμή πρέπει να ξεκινάει κατευθείαν με <p>.\n   - Η μορφή είναι: ΟΝΟΜΑ ΠΗΓΗΣ (χωρίς link) | Τίτλος Άρθρου (με link).\n\n3. **Output Code:**\nΕπίστρεψε ΑΚΡΙΒΩΣ αυτόν τον κώδικα (αντικατέστησε τα brackets με τα δεδομένα):\n\n<p><strong>[ΟΝΟΜΑ_ΠΗΓΗΣ]</strong> | <a href=\"{{ $json.link }}\" style=\"text-decoration:none; color:#1a0dab;\">{{ $json.title }}</a></p>\n<p style=\"margin-top:5px;\">[Η περίληψή σου εδώ (μία παράγραφος 40 λέξεων)]</p>\n<br><hr><br>",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        752,
        0
      ],
      "id": "9c76eeaa-63b3-4e0a-a913-202926e77e42",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        528,
        -224
      ],
      "id": "146fe9f8-db9d-4ce7-9ffe-6a0bf53aa1d5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f363d592-1633-4b41-a85b-e23c41875797",
              "name": "",
              "value": "=<h1>Καθημερινό Digest Ειδήσεων</h1>\n<p>Οι σημαντικότερες ειδήσεις της ημέρας (Επιλεγμένες):</p>\n<hr>\n{{ $('Aggregate').item.json.text\n   .filter(item => item && item.length > 20 && !item.includes(\"SKIP\"))\n   .map(item => item.replace(/```html/g, '').replace(/```/g, ''))\n   .join('') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -224
      ],
      "id": "20a0f2b8-4b97-474c-8759-10b74a0fc03d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "manolagoudakis@yahoo.gr",
        "subject": "My Daily AI News Digest",
        "message": "={{ $json[\"\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        -224
      ],
      "id": "97e2504a-b5a3-4569-a4a6-d219526b6e4d",
      "name": "Send a message",
      "webhookId": "9980ba7c-9cc3-4ec0-8bbd-e455959a32c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "YyqahLF1V8qbCf68",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "23efc5c5-d129-4b88-bdec-fbe8b1739be4",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ba612c7-1907-4d92-8e7b-43427818e48e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0f9431dcd9b0df5e2c17c66ebe9f0534510aeed23ed82c407ef1caee1a4cdb4"
  },
  "id": "8ByIQqOQYmd98vK4",
  "tags": []
}